* {
    color: #fff;
}

body {
    font-family: 'Fraunces', serif;
    margin: 0;
    background: url(./fondo.jpg);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-size: 20;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora {
    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: rgba(96, 34, 34, 0.5);
    padding: 15px;
    border-radius: 32px;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 20px;
    font-size: 1.5em;
    border: none;
    text-align: center;
    background-color: rgba(96, 34, 34, 0.5);
    box-shadow: 5px 5px 10px -3px rgba(212, 212, 212, 0.5), -5px -5px 15px 3px rgba(212, 212, 212, 0.5);
}

.button:hover {
    background-color: rgba(212, 212, 212, 0.5);
}

button:active {
    transform: translateY(2.5px);
    background-color: rgba(0, 0, 0, .5);
    color: red;
}

button:focus {
    outline: none;
}

.col-2 {
    grid-column: span 2;
}

.display {
    grid-column: 1 / -1;
    padding: 16px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 25px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all;
    box-shadow: 0px 0px 0px 10px rgba(0, 0, 0, .5);
}

#valor-actual {
    font-size: 1.5em;
}

#valor-anterior {
    font-size: 2em;
}